.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header{
  height: 15vh;
  width: 100vw;
  text-align: center;
}

button{
  height: 17vh;
  width: 20vw;
  border-radius: 0.3em;
  border: 0;
  color: white;
  transition: all .2s ease-in-out;
 }

button:hover { transform: scale(1.1); }
button:focus { outline: none; }


button:nth-of-type(1n+0) {
   background: rgb(28, 184, 65);
}

button:nth-of-type(2n+0) {
   background: rgb(202, 60, 60);
}

button:nth-of-type(3n+0) {
  background: rgb(223, 117, 20);
}

button:nth-of-type(4n+0) {
  background: rgb(66, 184, 221);
}

button:nth-of-type(6n+0) {
  background:   #426FC5;
}

